body {
    background-color: grey;
    background-image: url(https://media4.giphy.com/media/BHNfhgU63qrks/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#map{
    width: 600px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    
}
h1 {
    text-align: center;
}